.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #15161799;
  }

  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }