  .card {
    width: auto;
    background-color: #ff000042;
    margin-bottom: 5px;
  }

  .card-header{
    background-color: #dddddd40;
    align-self: center;
    border-radius: 10px;
  }

  .card-header-title{
    margin-top: 1em ;
  }
  
  .header-image {
    background-image: url('/assets/Images/602092.jpg');
    background-size: cover;
    margin-left: 5px;
    align-self: center;
  }

  .content-image{
    margin-left: 15%;
    height: 70%;
    width: 70%;
  }
  
  .Collapse{
    display: none;
    overflow: hidden;
  }
  .ShowDetails{
    display: block;
    height: 500px;
    
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  
