<mat-card class="card">
  <mat-card-header class="card-header" (click)="collapsDetails()">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="card-header-title">{{Card.Header}}</mat-card-title>
    <mat-card-subtitle>{{Card.SubTitile}}</mat-card-subtitle>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-card-header>
  <hr>
  <img mat-card-image  class="Collaps ShowDetails content-image" [ngClass]="collapsDetails()" [src]="Card.imgURL" alt="Photo of a Naruto">    
  
  <mat-card-content  [ngClass]="Hide">    
    <p>{{Card.Content}}
    </p>
  </mat-card-content>
  <mat-card-actions  [ngClass]="Hide">
    <button mat-button >LIKE</button>
    <button mat-button >SHARE</button>
  </mat-card-actions>
</mat-card>