<mat-card class="card">
  <mat-card-header class="card-header" (click)="collapsDetails()">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="card-header-title">{{Card.Header}}</mat-card-title>
    <mat-card-subtitle>{{Card.SubTitile}}</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <img mat-card-image class="Collaps ShowDetails" [ngClass]="collapsDetails()" [src]="Card.ImgURL"
    alt="Photo of a Shiba Inu">

  <mat-card-content [ngClass]="Hide">
    <p>{{Card.Content}}
    </p>
  </mat-card-content>
  <mat-card-actions [ngClass]="Hide">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>